* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: bisque;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: rgb(248, 215, 175);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
}

.menu {
  display: flex;
  font-size: 30px;
  font-weight: bold;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_article {
  display: flex;
  width: 1200px;
}

.turing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem {
  margin-top: 30px;
}

.descricao {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  font-size: 18px;
}

.texto {
  margin-top: 10px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.container_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 100px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.container_timeline {
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.timeline_itens {
  display:  flex;
  align-items: center;
  border: 1px solid rgb(248, 211, 165);
}

.timeline_imagem {
}

.timeline_imagem img {
  margin-top: 10px;
}

.timeline_desc {
  margin-left: 20px;
}

.timeline_desc span {
  font-weight: bold;
}

.botao {
  margin-top: 30px;
}

.botao a{
  font-size: 20px;
  text-decoration: none;
  color: rgb(114, 66, 7);
}

.botao:hover {
  padding: 10px;
  align-items: center;
  border-radius: 100px;
  background-color: burlywood;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: center;
  height: 100px;
  margin-top: 30px;
  background-color: rgb(248, 215, 175);
}

.container_footer {
  width: 1200px;
}
