* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #14a37f;
  color: black;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #14a37f;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 990px;
}

.menu {
  display: flex;
  font-size: 30px;
  color: #FFFFFF;
  font-weight: bold;
}

.menu a {
  text-decoration: none;
  color: #FFFFFF;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_article {
  display: flex;
  width: 990px;
  background-color: #4aedc4;
}

.turing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem {
  margin-top: 30px;
  margin-left: 20px;
}

.descricao {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 20px;
  font-size: 18px;
}

.texto {
  margin-top: 10px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 990px;
  height: 100px;
  background-color:#4aedc4;
  padding-top: 50px;
}

.title {
  font-size: 25px;
  color: #FFFFFF;
  font-weight: bold;
}

.container_timeline {
  display: flex;
  flex-direction: column;
  width: 990px;
  background-color:#4aedc4;
}

.timeline_itens {
  padding: 10px;
  display:  flex;
  align-items: center;
  border: 1px solid #14a37f;
}

.timeline_imagem img {
  margin-top: 10px;
}

.timeline_desc {
  margin-left: 20px;
}

.timeline_itens:hover {
  background-color: #1de9b6;
}

.timeline_desc span {
  font-weight: bold;
}

.botao {
  margin-top: 30px;
  margin-bottom: 30px;
}

.botao a{
  font-size: 20px;
  text-decoration: none;
  color: #14a37f;
}

.botao:hover {
  padding: 10px;
  align-items: center;
  border-radius: 100px;
  background-color: #14a37f;
  font-weight: bold;
  color: #FFF;

}

.botao a:hover {
  color: #FFF;
}

footer {
  display: flex;
  justify-content: center;
  height: 100px;
  margin-top: 30px;
  background-color: #14a37f;
  height: 30px;
  color: #FFFFFF;
}

.container_footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy_link a{
  text-decoration: none;
  color: #FFFFFF;
}

